<P1 id=mapleBurger> 1/2 tsp fresh ground black pepper
    Caramelized onions
    3 Tbsp butter
    1 tsp granulated sugar
    1/2 tsp salt
    1 Tbsp maple syrup
    1 large yellow onion, sliced thinly
    Maple BBQ sauce
    1 cup ketchup
    2 Tbsp apple cider vinegar
    1/2 cup real maple syrup
    1 Tbsp Worcestershire sauce
    1 1/2 tsp hot sauce ( I used Chipotle Tabasco)
    1 tsp garlic powder
    Burger
    2 lbs ground beef ( I like to use 80/20 in burgers)
    2 tsp salt
    1 tsp fresh ground black pepper
    8 slices sharp cheddar cheese
    8 buns, toasted if desired</P1>